<h1>The Task is <%= @task.title %></h1>

<p>Is the task completed? <%= @task.completed %></p>
<p><%= @task.details %></p>

<p><%= link_to 'Edit Task', edit_path %></p>
<%= link_to "Delete #{@task.title}",
            task_path(@task), method: :delete,
            data: { confirm: "Are you sure?"} %>


<p><%= link_to 'back to overview', tasks_path %></p>
